# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# build artifacts
*.apk
app-release*

# debug scripts
check_db.mjs
check_realtime.mjs
check_types.mjs
dump_activities.mjs
dump_supabase_activities.mjs
test_nan.mjs

# local state
.claude/
emulator_local_db.db
device1.png
device2.png
